{% extends 'base.html' %}
{% block body %}
<div class="flex-col flex flex-1 justify-center items-center">
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
        <legend class="fieldset-legend text-xl">Portfolio</legend>
        <form action="" method="post" class="flex gap-4 flex-col" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </fieldset>
</div>
{% endblock %}