{% extends "base_portfolio.html" %}
{% block body %}
<div class="flex flex-col gap-4">
    {% if is_owner %}
    <div class="flex justify-end">
        <div class="flex gap-2">
            <button class="btn btn-sm" onclick="project_modal.showModal()">
                Add Project
            </button>
        </div>
    </div>
    {% endif %}
    <div>
        <p class="text-5xl font-bold">Projects</p>
    </div>
    <div class="flex gap-2">
        {% for project in object_list %}
        <!-- Cards of the Projects -->
        <div class="card bg-base-100 w-96 h-96 shadow-sm border-1 border-primary-content">
            <figure class="flex-2">
                {% if is_owner %}
                <div class="dropdown dropdown-bottom dropdown-end top-1 right-3 absolute flex-1 cursor-pointer">
                    <div tabindex="0" role="button" class="cursor-pointer">...</div>
                    <ul tabindex="0" class="dropdown-content menu bg-base-200 rounded-box z-1 w-52 p-2 shadow-sm">
                        <li><button 
                            data-update-url="{% url 'project_update' project.id %}"
                            id="project-btn"
                            onclick="editForm('{{project.id}}', '{{project.name}}', '{{project.description}}', '{{project.image.url}}', '{{project.service.id}}'); project_modal.showModal();">Edit</button></li>
                        <li>
                            <button form="delete-form-{{ project.id }}" type="submit">
                                Delete
                            </button>
                        </li>
                        <form id="delete-form-{{ project.id }}" action="{% url 'project_delete' project.id %}" method="post" class="hidden"
                        onsubmit="return confirm('Are you sure you want to delete project {{ project.name }}?')">
                            {% csrf_token %}
                        </form>
                    </ul>
                </div>
                {% endif %}
                {% if project.image %}
                <img
                class="h-full p-2"
                src="{{ project.image.url }}"
                alt="{{ project.name }}" />
                {% else %}
                <p> No image provided. </p>
                {% endif %}
            </figure>
            <div class="card-body flex-1">
                <h2 class="card-title">
                {{ project.name }}
                <div class="badge badge-secondary">NEW</div>
                </h2>
                <p class="break-words">{{ project.description }}</p>
                <div class="card-actions justify-end">
                <div class="badge badge-outline">{{ project.service.category }}</div>
                </div>
            </div>
        </div>
        {% empty %}
        No projects yet.
        {% endfor %}
    </div>
</div>

<!-- Modal -->
  <dialog id="project_modal" class="modal">
    <!-- Project Form Modal -->
  <div class="modal-box flex justify-center">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 h-3/4">
        <legend class="fieldset-legend text-xl">Project</legend>
            <form action="{% url 'project_create' %}" method="post" id="project_form" class="flex flex-col gap-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ project_form.as_p }}
                <div id="preview_container" class="hidden">
                    <img alt="Project's Current Image" id="preview_image" >
                </div>
                <button 
                type="submit" 
                class="btn btn-primary mt-2"
                >Submit</button>
            </form>
        </div>
    </fieldset>
</dialog>
{% endblock %}

{% block script %}
<script>
    function editForm(projectId, name, description, imageUrl, serviceId){

        // Create and Add the url of Project Edit
        const name_input = document.querySelector('#id_name');
        const form = document.querySelector('#project_form');
        const description_input = document.querySelector('#id_description');
        const service_input = document.querySelector('#id_service');
        const preview_container = document.querySelector('#preview_container');
        const project_btn = document.querySelector('#project-btn');


        name_input.value = name;
        description_input.value = description;
        service_input.value = serviceId;
        preview_container.className.remove;
        preview_container.className = 'block';
        document.querySelector('#preview_image').src = imageUrl;
        form.action = project_btn.dataset.updateUrl;
        
    }
</script>
{% endblock %}