{% extends 'base_portfolio.html' %}
{% load static %}
{% block body %}
<div class="flex-1 flex flex-col gap-4 relative">
    {% if request.user == owner %}
    <div class="absolute top-5 right-5 ">
        <button class="btn btn-sm" onclick="create_form_container.showModal()">
            Add Social
        </button>
    </div>
    {% endif %}

    <div class="flex-1 flex flex-col items-center justify-center gap-4">
        <p class="text-5xl font-bold">Contact Me</p>
        <div class="flex gap-2 flex-wrap justify-center">
            {% for social in object_list %}
            <div class="relative">
                {% if request.user == social.user %}
                <div class="dropdown dropdown-bottom  absolute top-2 right-0 dropdown-hover z-10">
                    <div tabindex="0" role="button">
                        <i class="fi fi-br-menu-dots-vertical text-neutral-content text-xs hover:text-primary"></i>
                    </div>
                    <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box w-52 p-2 shadow-sm">
                        <li>
                            <a 
                            onclick="editForm('{{social.name}}', '{{social.url}}', '{% url 'social_update' social.id %}'); create_form_container.showModal();">
                                Edit
                            </a>

                        </li>
                        <li>
                            <button type="submit" form="social_delete_{{social.id}}">Delete</button>
                        </li>
                    </ul>
                    <form method="post" action="{% url 'social_delete' social.id %}" class="hidden" id="social_delete_{{social.id}}" onsubmit="return confirm('Are you sure you want to delete {{social.name}}')">
                        {% csrf_token %}
                    </form>
                </div>
                {% endif %}
                <a href="{{social.url}}" class="cursor-pointer flex justify-center items-center gap-2 border-neutral px-5 py-4 border-1 rounded-lg w-fit text-xl bg-neutral">
                    {% if social.name == 'Facebook' %}
                    <i class="fi fi-brands-facebook text-neutral-content"></i>
                    {% elif social.name == 'Instagram' %}
                    <i class="fi fi-brands-instagram text-neutral-content"></i>
                    {% elif social.name == 'Github' %}
                    <i class="fi fi-brands-github text-neutral-content"></i>
                    {% elif social.name == 'X' %}
                    <i class="fi fi-brands-twitter-alt text-neutral-content"></i>
                    {% elif social.name == 'LinkedIn' %}
                    <i class="fi fi-brands-linkedin text-neutral-content"></i>
                    {% else %}
                    <i class="fi fi-rr-globe text-neutral-content"></i>
                    {% endif %}
                    <p class="text-neutral-content">{{ social.name }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<dialog id="create_form_container" class="modal">
  <div class="modal-box flex justify-center">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" onclick="closeForm()">✕</button>
    </form>
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
        <legend class="fieldset-legend text-xl">Social</legend>
        <form method="post" action="{% url 'social_create' %}" id="social_form" class="flex flex-col gap-3">
            {% csrf_token %}
            {{ social_form }}
            <button type="submit" class="btn btn-primary" data-url="{% url 'social_create' %}" id="create_btn">
                Submit
            </button>
        </form>
    </fieldset>
  </div>
</dialog>
{% endblock %}

{% block script %}
<script>
    function editForm(name, url, form_url) {
        const name_input = document.querySelector('#id_name');
        const url_input = document.querySelector('#id_url');
        const form = document.querySelector('#social_form');

        // name_input.classList.add('hidden');
        // label.classList.add('hidden');
            
        name_input.value = name ?? '';
        url_input.value = url ?? '';
        form.action = form_url;
    }

    function closeForm(){
        const name_input = document.querySelector('#id_name');
        const url_input = document.querySelector('#id_url');
        const form_url = document.querySelector('#create_btn').dataset.url;
        const form = document.querySelector('#social_form');

        name_input.classList.remove('hidden');
        name_input.value =  '';
        url_input.value =  '';
        form.action = form_url;
    }
</script>
{% endblock %}