{% extends "base.html" %}
{% block body %}
<div class="hero bg-base-200 flex-1">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Welcome to Servfolio</h1>
      <p class="py-6 text-justify">
        A personal portfolio web application built with Django and JavaScript. It allows users to showcase their services, social links, and achievements through a clean and dynamic web interface. Designed for developers, freelancers, and professionals who want to manage and share their online presence with ease.
      </p>
      {% if request.user.is_authenticated %}
        {% if request.user.portfolio.exists %}
        <a class="btn btn-primary" href="{% url 'portfolio' request.user.username %}">Get Started</a>
        {% else %}
        <a class="btn btn-primary" href="{% url 'portfolio_create' %}">Get Started</a>
        {% endif %}
      {% else %}
      <a class="btn btn-primary" href="{% url 'login' %}">Get Started</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}