{% extends "base.html" %}
{% load service_tags %}
{% load mathfilters %}
{% block style %}
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-straight/css/uicons-regular-straight.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-straight/css/uicons-solid-straight.css'>
{% endblock %}
{% block body %}
<div class="flex flex-col w-full flex-1 gap-2 h-full p-4">
    {% if messages %}
        {% for message in messages %}
        <div role="alert" class="alert alert-{{ message.tags }} alert-soft">
            <span>{{ message }}</span>
        </div>
        {% endfor %}
    {% endif %}
    <div class="flex flex-col gap-2">
        <p class="text-5xl font-bold text-accent">Services</p>
        <p class="text-sm text-gray-600 mb-2">Click on a service name to view its related projects.</p>
    </div>
    <div class="flex justify-between flex-col flex-1">
        <div class="lg:grid lg:grid-cols-4 gap-4 flex flex-col">
        {% for service in page_obj %}
            <!-- Container of Service List -->
            <div class="card bg-base-100  h-96 shadow-lg transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-105">
                <figure class="flex-2 bg-base-200">
                    {% if service.image %}
                    <img
                    class="h-full p-2"
                    src="{{ service.image.url }}"
                    alt="{{ service.name }}" />
                    {% else %}
                    <p> No image provided. </p>
                    {% endif %}
                </figure>
                <div class="card-body flex-1 rounded-b-box relative">
                {% if request.user == service.user %}
                    <div class="dropdown dropdown-bottom dropdown-hover dropdown-end top-1 right-3 absolute cursor-pointer">
                        <div tabindex="0" role="button" class="cursor-pointer">...</div>
                        <ul tabindex="0" class="dropdown-content menu bg-base-200 rounded-box z-1 w-52 p-2 shadow-sm">
                            <li>
                                <button 
                                    onclick="service_modal.showModal(); updateForm(
                                        this,
                                        '{{ service.id|escapejs }}',
                                        '{{ service.name|escapejs }}',
                                        '{{ service.description|escapejs }}',
                                        '{{ service.image.url|escapejs }}',
                                        '{{ service.category|escapejs }}'
                                    );"
                                    data-update-url="{% url 'service_update' service.id %}">
                                    Edit
                                </button>
                            </li>
                            <li>
                                <button form="delete-form-{{ project.id }}" type="submit">
                                    Delete
                                </button>
                            </li>
                            <form id="delete-form-{{ project.id }}"
                            action="{% url 'service_delete' service.id %}"
                            method="post" class="hidden"
                            onsubmit="return confirm('Are you sure you want to delete service {{ service.name }}?')">
                                {% csrf_token %}
                            </form>
                        </ul>
                    </div>
                    {% endif %}
                    <h2 class="card-title underline cursor-pointer pr-8 line-clamp-2">
                        <a href="{% url 'project' service.user.username service.id %}">
                            {{ service.name }}
                        </a>
                        {% if service.is_new %}
                        <div class="badge badge-secondary flex-shrink-0 ml-2">NEW</div>
                        {% endif %}
                    </h2>
                    <p class="text-xs">
                        by: 
                        <a class="font-bold underline" href="{% url 'portfolio' request.user.username %}">
                            {{ service.user.username }}
                        </a>
                    </p>
                    <div class="h-20 break-words max-h-20 overflow-y-auto">
                        {{ service.description|escapejs }}
                    </div>
                    <div class="card-actions justify-end">
                        <div class="badge badge-outline truncate max-w-full" title="{{ service.category }}">
                            {{ service.category }}
                        </div>
                    </div>
                    <div class="flex justify-end gap-2">
                        {% if request.user != service.user %}
                        <button class="btn btn-primary btn-sm" 
                        data-update-url="{% url 'inquiry_create' service.id %}"
                        onclick="inquiry_modal.showModal(); changeAction()"
                        id="inquiry_button"
                        >Inquire</button>
                        <button class="btn btn-sm" onclick="bookmark()">
                            {% if not service|is_bookmarked:request.user %}
                            <i class="fi fi-rr-bookmark" id="bookmark-icon" 
                            data-url="{% url 'bookmark_view' service.id %}">
                            </i>
                            {% else %}
                            <i class="fi fi-sr-bookmark" id="bookmark-icon" 
                            data-url="{% url 'bookmark_view' service.id %}">
                            </i>
                            {% endif %}
                        </button>
                        {% endif %}
                        <button class="btn btn-sm" onclick="support('{{service.id}}')">
                            {% if not service|is_supported:request.user %}
                            <i class="fi fi-rs-heart-partner-handshake" id="support-{{service.id}}-icon" data-url="{% url 'support_view' service.id %}"></i>
                            {% else %}
                            <i class="fi fi-ss-heart-partner-handshake" id="support-{{service.id}}-icon" data-url="{% url 'support_view' service.id %}"></i>
                            {% endif %}
                            <i id="support-{{service.id}}-count">{{ service.support_count }}</i>
                        </button>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No services provided yet. </p>
        {% endfor %}
        </div>
        <div class="justify-center flex">
            <div class="join">
                {% if page_obj.has_previous %}
                    <a href="?page=1" class="join-item btn">First</a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="join-item btn">«</a>
                {% endif %}
                <button class="join-item btn">
                    {{ page_obj.number }}
                </button>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="join-item btn">»</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="join-item btn">Last</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<dialog id="service_modal" class="modal">
  <div class="modal-box flex justify-center">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 h-3/4">
        <legend class="fieldset-legend text-xl">Service</legend>
            <form action="{% url 'service_create' %}" method="post" id="service_form" class="flex flex-col gap-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ service_form.as_p }}
                <div class="hidden" id="preview_container">
                    <img src="" id="image_preview" alt="image preview">
                </div>
                <button type="submit" class="btn btn-primary mt-2">Submit</button>
            </form>
    </fieldset>
    </div>
</dialog>

<dialog id="inquiry_modal" class="modal">
  <div class="modal-box flex justify-center">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 h-3/4">
        <legend class="fieldset-legend text-xl">Inquiry</legend>
            <form method="post" id="inquiry_form" class="flex flex-col gap-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ inquiry_form.as_p }}
                <button type="submit" class="btn btn-primary mt-2">Submit</button>
            </form>
        </fieldset>
    </div>
</dialog>
{% endblock %}

{% block script %}
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function bookmark(){
        const bookmark_button = document.querySelector('#bookmark-icon')
        const url = bookmark_button.dataset.url;
        const csrf = getCookie('csrftoken')
        if (bookmark_button.classList.contains('fi-rr-bookmark')){
            fetch(url,  {
                method: 'POST',
                headers: {
                    'X-CSRFToken' : csrf,
                    'Content-Type': 'application/json'
                },
            })
            .then(res => res.json())
            .then(data => {
                if (data.success){
                    bookmark_button.classList.remove('fi-rr-bookmark')
                    bookmark_button.classList.add('fi-sr-bookmark')
                }
            });

        } else {
            fetch(url,  {
                method: 'POST',
                headers: {
                    'X-CSRFToken' : csrf,
                    'Content-Type': 'application/json'
                },
            })
            .then(res => res.json())
            .then(data => {
                if (data.success){
                    console.log(data.success)
                    bookmark_button.classList.remove('fi-sr-bookmark')
                    bookmark_button.classList.add('fi-rr-bookmark')    
                }
            });  
        }
    }

    function support(id){
        const support_button = document.querySelector(`#support-${id}-icon`)
        const support_count = document.querySelector(`#support-${id}-count`)
        let currentCount = parseInt(support_count.textContent) || 0;
        const url = support_button.dataset.url;
        const csrf = getCookie('csrftoken')
        if (support_button.classList.contains('fi-rs-heart-partner-handshake')){
            fetch(url, {
                method: 'POST',
                headers: {
                   'X-CSRFToken':  csrf,
                   'Content-Type': 'application/json',
                }
            })
            .then(res => res.json())
            .then(data => {
                if (data.success){
                    support_button.classList.remove('fi-rs-heart-partner-handshake')
                    support_button.classList.add('fi-ss-heart-partner-handshake')
                    support_count.textContent = currentCount + 1
                }
            })
        } else {
            fetch(url, {
                method: 'POST',
                headers: {
                   'X-CSRFToken':  csrf,
                   'Content-Type': 'application/json'
                }
            })
            .then(res => res.json())
            .then(data => {
                if (data.success){
                    console.log(data.success)
                    support_button.classList.remove('fi-ss-heart-partner-handshake')
                    support_button.classList.add('fi-rs-heart-partner-handshake')    
                    support_count.textContent = currentCount - 1
                }
            })
        }
    }

    setTimeout(() => {
        // Removes all alert in 3sec
        document.querySelector('.alert').remove()
    }, 3000)

    function changeAction(){
        const action = document.querySelector('#inquiry_button').dataset.updateUrl;
        const inquiry_form = document.querySelector('#inquiry_form');

        inquiry_form.action = action;
    }

    function updateForm(button, id, name, description, image, category){
        name_input = document.querySelector('#id_name');
        description_input = document.querySelector('#id_description');
        image_input = document.querySelector('#id_image');
        category_input = document.querySelector('#id_category');
        form = document.querySelector('#service_form');
        preview_container = document.querySelector('#preview_container')
        const update_url = button.dataset.updateUrl;

        name_input.value = `${name}`;
        description_input.value = description;
        image_input.src = '';
        category_input.value = category;
        document.getElementById('image_preview').src = image;
        preview_container.classList.remove('hidden');
        preview_container.className = 'block';

        form.action = update_url;
    }

    function closeForm(){
        name_input = document.querySelector('#id_name');
        description_input = document.querySelector('#id_description');
        image_input = document.querySelector('#id_image');
        category_input = document.querySelector('#id_category');
        form = document.querySelector('#service_form');
        update_url = '{% url "service_create" %}';
        preview_container = document.querySelector('#preview_container')

        name_input.value = '';
        description_input.value = '';
        image_input.src = '';
        category_input.value = '';
        document.getElementById('image_preview').src = '';
        preview_container.className.remove('block');
        preview_container.className = 'hidden';

        form.action = update_url;
    }
</script>
{% endblock %}